version: '3.8'

services:
  credit-risk-api:
    build: .
    container_name: credit_risk_api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
      - ./src:/app/src
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped